<h2>What and How We Teach</h2>
<div class="col-md-10 col-offset-1">
	<p>
	Our program will incorporate Godly character building &amp; principles using the authorized King James Bible. "Students don't just get by, they get ahead!"
	</p>

	<p>
	Here at Holiness Christian Academy your child will develop a new confidence in his or her learning abilities. We use the <a href="http://www.aceministries.com/curriculum/">A.C.E (Accelerated Christian Education) Curriculum</a> that will fill in the gaps that have been associated with traditional learning methods. Your child will be given the attention and education that will prepare them for higher education with A.C.E.'s concepts of individualized learning. The curriculum is built on <a href="http://www.aceministries.com/curriculum/?content=main&distinctive=individualized">5 laws of learning</a> to help students achieve success:
	</p>
	
	<div>
		<ol>
		<li><strong>Individualized:</strong> students are placed at a level of curriculum where they can best perform and master content.</li>
		<li><strong>Goal Setting:</strong> students set reasonable goal that are expected to be achieved in a reasonable amount of time. </li>
		<li><strong>Controlled and Motivated:</strong> through guidance and discipline. </li>
		<li><strong>Learning is Measured:</strong> through PACES, check-ups, and tests.</li>
		<li><strong>Rewards:</strong> students receive rewards for their effort and value of work.</li>
		</ol>
	</div>

</div>