<h2>Schedule your own Tour of our School</h2>
<div class="col-md-10 col-md-offset-1">

	<img src="/images/original-hca-logo.svg" id="large-logo">

    <p>All are invited to explore the facilities and discover the benefits of enrolling your children for Fall 2016.</p>
      
	<a class="btn btn-danger btn-lg" href="#reputation" role="button" style="margin-bottom:15px;">We Come Recommended</a>
	<a class="btn btn-primary btn-lg" href="https://www.facebook.com/pages/Holiness-Christian-Academy/191297651041762" role="button" style="margin-bottom:15px;">Find Us on Facebook</a>
		
	<blockquote class="big-quote">Holiness Christian Academy is a great option <a href="#reputation">...</a><br><span class="pull-right">&mdash;Ed Mornault, Headmaster, <a href="https://www.facebook.com/LighthouseChristianAcademyAndPreschool" target="_blank">LCA</a></span>
	</blockquote>

</div>
		
