<div id="location"></div>

<div class="header-box">
	<div class="skew">		
		<h2>Find Us</h2>
	</div>
</div>

<ul>
	<li>Telephone <a href="tel:+14435535477">(443) 553-5477</a></li>
	<li><a href="https://www.facebook.com/pages/Holiness-Christian-Academy/191297651041762">On Facebook</a></li>
	<li><a href="https://www.google.com/maps/dir/Current+Location/30+Dogwood+Road+Elkton+MD+21921">Directions to 30 Dogwood Rd, Elkton, Maryland 21921</a></li>
</ul>

<div class="overlay" onClick="style.pointerEvents='none'"></div>
<iframe src="https://www.google.com/maps/d/embed?mid=zzs2NJG_DqSw.kY1ggVSL3s8Q" width="95%" height="480" style="border:none"></iframe>