<h2>Reputation</h2>

<div class="col-md-10 col-md-offset-1">
	<p>HCA has been awarded "Quality Status" by School of Tomorrow. "Quality Status" is an academically based award given for outstanding performance. 2010, 2011, 2012 & 2013.</p>
	
	<blockquote class="big-quote">(April 22, 2015) Holiness Christian Academy is a great option for parents of students from Lighthouse Christian Academy to consider for the upcoming school year. <br><span class="pull-right">&mdash;Ed Mornault, Headmaster, <a href="https://www.facebook.com/LighthouseChristianAcademyAndPreschool" target="_blank">LCA</a></span>
	</blockquote>
	
	<blockquote class="big-quote">(April 28, 2015) HCA provides an amazing ministry for their community around Elkton, MD. <br><span class="pull-right">&mdash;Stephen Reynolds, Jr., Assistant Pastor, <a href="http://www.deliverance.me" target="_blank">Deliverance Center</a></span>
	</blockquote>
</div>