
<div id="staff"></div>

<div class="header-box">
	<div class="skew">
		<h2>Staff</h2>
	</div>
</div>

<div class="row staff">

      <div class="col-xs-6 col-md-4">
        <div class="thumbnail-2">
          <img src="/images/headshots/andy-parrett.png">	
		
		  <a href="mailto:andy404@comcast.net" >		  
          <div class="caption">
            <h3 id="thumbnail-2-label">Andy Parrett</h3>
            <p>Pastor / Principal</p>
          </div>
		  </a>
		  
        </div>
      </div>
      <div class="col-xs-6 col-md-4">
        <div class="thumbnail-2">
          <img src="/images/headshots/rhonda-parrett.png">
          <div class="caption">
            <h3 id="thumbnail-2-label">Rhonda Parrett<a class="anchorjs-link" href="#thumbnail-label"><span class="anchorjs-icon"></span></a></h3>
            <p>Pastor's Wife / Administrator</p>
            <p>
			
			</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-4">
        <div class="thumbnail-2">
           <img src="/images/headshots/andrew-parrett.png">
		   
		   <a href="https://www.facebook.com/andrew.parrett.79" >
          <div class="caption">
            <h3 id="thumbnail-2-label" >Andrew Parrett</h3>
            <p>Gym / Math</p>
          </div>
		  </a>
		  
        </div>
      </div>
	  <div class="col-xs-6 col-md-4">
        <div class="thumbnail-2">
           <img src="/images/headshots/coty-parrett.png">
		   
		  <a href="https://www.facebook.com/coty.parrett">
          <div class="caption">
            <h3 id="thumbnail-2-label">Coty Parrett</h3>
            <p>Gym / Math</p>
          </div>
		  </a>
		  
        </div>
      </div>
	  <div class="col-xs-6 col-md-4">
        <div class="thumbnail-2">
           <img src="/images/headshots/peggy.png">
          <div class="caption">
            <h3 id="thumbnail-2-label">Peggy<a class="anchorjs-link" href="#thumbnail-label"><span class="anchorjs-icon"></span></a></h3>
            <p>Art</p>
            <p>
			</p>
          </div>
        </div>
      </div>
     
</div>